﻿<ul id="dropdown-user">
    <li><a href="/Home/Product/0" data-id="0" class="myLink">All </a></li>

    @if (ViewBag.category != null)
    {
        foreach (var item in ViewBag.category)
        {
            <li><a href="/Home/Product/@item.Id" data-id="@item.Id" class="myLink">@item.CategoryName</a></li>
        }
    }
</ul>

