﻿@{
    var curretLink = ViewContext.RouteData.Values["Controller"].ToString();
    var curretActionLink = ViewContext.RouteData.Values["Action"].ToString();
    var count = @HttpContext.Current.Session["SessionCartCounter"];

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <title>Sarvam - @ViewData["Title"]</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sarvam Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/megamenu.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/style.css">
    <link href="~/Assets/Admin/vendor/libs/toastr/toastr.css" rel="stylesheet" />
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <header class="header_area header-border-bottom">
        <div class="main_header_area animated">
            <div class="container">
                <nav id="navigation1" class="navigation">
                    <div class="nav-header">
                        <a class="nav-brand" href="@Url.Action("Index", "Home")"><img src="~/Assets/images/logo.png" alt="logo" /></a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu align-to-right">
                            <li class="@(curretLink == "Home" && curretActionLink == "Index" ? "active" : "")"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="@(curretActionLink == "About" ? "active" : "")"><a href="@Url.Action("About", "Home")">About</a></li>
                            <li class="admin-user-dropdown @(curretActionLink == "Product" || curretLink == "ProductDetail" ? "active" : "")">
                                <a href="javascript:;" class="dropdown-toggle">Products</a>
                                @{Html.RenderAction("_Categories", "Home"); }
                            </li>
                            <li class="@(curretActionLink == "Contact" ? "active" : "")"><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>

                            @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                            {
                                var df = Convert.ToBoolean(count);
                                <li class="">
                                    <a href="@Url.Action("CartList", "UserCart")" style="position:relative;">
                                        <i class="fa fa-shopping-cart"></i>
                                            <span class='badge badge-warning' id='lblCartCount' style="position:absolute;top:20%;"> @count </span>
                                    </a>
                                </li>
                            }

                            @*<li class=""><a href="@Url.Action("WishList","Home")"><i class="fa fa-heart-o"></i> </a></li>*@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown">
                                    @if (User.Identity.Name == "admin")
                                    {
                                        <a href="@Url.Action("Index","DashBoard",new { area="Admin"} )">
                                            @User.Identity.Name
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @User.Identity.Name
                                        </a>
                                    }
                                    <div class="dropdown-menu text-center logout-dropdown" aria-labelledby="navbarDropdown">
                                        <a href="@Url.Action("LogOut","Account")"><i class="fa fa-sign-out pr-2"></i>LogOut</a>

                                    </div>
                                </li>
                                @*<a href="javascript:;" class="dropdown-toggle">@User.Identity.Name</a>
                                    <li class="@(curretActionLink=="LogOut"?"active":"")"><a href="@Url.Action("LogOut","Account")">LogOut</a></li>*@
                            }
                            else
                            {
                                <li class="@(curretActionLink=="Login"?"active":"")"><a href="@Url.Action("Login","Account")">Login</a></li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="footer-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-sm-center text-md-left">
                        <div class="footer-content">
                            <img src="~/Assets/images/footer-logo.png" />
                            <p>
                                Copyright © 2021 - Sarvam. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                    <div class="col-4 col-sm-3 col-md-2">
                        <div class="footer-menu">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="@Url.Action("Index","Home")">HOME</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("About","Home")">ABOUT US</a>
                                </li>
                                @*<li>
                                        <a href="@Url.Action("Product","Home")">PRODUCTS</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Contact","Home")">CONTACT US</a>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-4 col-sm-3 col-md-2">
                        <div class="footer-menu">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="@Url.Action("Index","Home")">PRODUCTS</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Contact","Home")">CONTACT US</a>
                                </li>
                                @*<li>
                                        <a href="#">KITCHENWARE</a>
                                    </li>
                                    <li>
                                        <a href="#">WATCHES</a>
                                    </li>
                                    <li>
                                        <a href="#">WALLET</a>
                                    </li>
                                    <li>
                                        <a href="#">TRADITIONAL</a>
                                    </li>
                                    <li>
                                        <a href="#">TORAN</a>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="footer-contact">
                            <h5>CALL US :</h5>
                            <span>+91 94085 58818</span>
                            <p>
                                Address : G-28, Anupam Business Hub, Yogi Chowk, Gujarat, Surat - 395006, India.
                            </p>
                            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                            <a href="#" class="social-link mx-2"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <script type="text/javascript" src="~/Assets/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="~/Assets/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/megamenu.js"></script>
    <script type="text/javascript" src="~/Assets/js/wow.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/thumbelina.js"></script>
    <script type="text/javascript" src="~/Assets/js/common.js"></script>
    <script src="~/Assets/Admin/vendor/libs/toastr/toastr.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
        $(document).on('click', ".admin-user-dropdown", function () {
            if ($("#dropdown-user").css("display") == "none") {
                $("#dropdown-user").css({ "display": "block", "animation": "0.5s pulse" });
            }
            else {
                $("#dropdown-user").css({ "display": "none", "animation": "0.5s pulse" });
            }
        });
        var route = window.location.href;
        var id = route.split("/").pop();
        if (id != "")
            $("ul#dropdown-user").find("li").find("a[data-id=" + id + "]").addClass("active");
        var b = $("#lblCartCount").text().trim();
        if (b==0) {
            $("#lblCartCount").hide();
        }
        else {
            $("#lblCartCount").show();
        }
    </script>
</body>
</html>



