﻿
@model IEnumerable<SarvamCart.Domain.Models.ViewModelProduct>
@foreach (var product in Model)
{
    if (product.Id > 0)
    {
        <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
            <div class="product-box" data-has-more-rows="@ViewBag.HasMoreRows">
                <img src="~/Assets/UploadedFiles/@product.InnerImage[0].InnerImages" value="@product.Id" class="img-responsive" />
                <div class="overlay">
                    <div class="wish-list-icon">
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="@Url.Action("Index","ProductDetail",new { id=product.Id})"><i class="fa fa-info"></i></a>
                        <a class="cartlnk" data-id="@product.Id"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <p class="product-name text-center">@product.Title</p>
            <div class="my--15"></div>
        </div>
    }
    else
    { <div class="col-12 text-center">
            <span class="no-items-message">@ViewBag.Message</span>
        </div>
    }
}

@*@section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $(".cartlnk").on("click", function () {
                    debugger;
                    var lnkData = $(this).data();
                    $ajax({
                        type: "POST",
                        url: '@Url.Action("AddToCart", "UserCart")',
                        data: { productId: lnkData.id },
                        success: function (result) {
                            if (result.IsSuccess == true) {
                                window.location.href = "@Url.Action("AddToCart", "UserCart")";
                            }
                        }

                    });
                });
            });


        </script>
    }*@