﻿@model SarvamCart.Domain.Models.ViewModelQuotaion
@{
    ViewBag.Title = "test";
}
<link href="~/Assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div class="container" id="content">
    <div class="company-user-details card-box p-4">
        <div class="row justify-content-between  pb-4">
            <div class="col-xs-7">
                <h4 class="mb-2">From: SarvamCart-Quotation</h4>
                <p class="mb-0">G-28, Anupam Business Hub, Yogi Chowk, </p>
                <p class="mb-0">Surat - 395006, Gujarat, India.</p>
                <p class="mb-0">Call Us: +91 94085 58818</p>
                <p class="mb-0">Email: sarvam.cart123@gmail.com</p>
                <p class="mb-0">Date: @DateTime.Now.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="col-xs-5">
                <h4 class="mb-2">To: @Model.UserName</h4>
                <p class="mb-0">Phone: +91 @Model.ContactNumber</p>
                <p class="mb-0">Email: @Model.UserEmail</p>
                <p class="mb-0">RequestDate: @Model.CreatedOn.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
        <hr>
        <div class="row" id="tblrow">
            <div class="col-12">
                <table class="table-bordered border mx-auto" id="quotation">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Product Image</th>
                            <th>Product Code</th>
                            <th style="width:350px;">Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var count = 0;
                            foreach (var quotationDetail in Model.CartDetails)
                            {
                                var sr = count + 1;
                                <tr>
                                    <td>@sr</td>
                                    <td style="max-width:100px;"><img src="~/Assets/UploadedFiles/@quotationDetail.ProductImage" class="img-fluid" /></td>
                                    <td> <label type="text">@quotationDetail.ProductCode</label> </td>
                                    <td><label type="text">@quotationDetail.ProductName</label></td>
                                    <td><label class="quentity" type="text">@quotationDetail.Quentity</label></td>
                                    <td><label class="finalprice" type="text">@quotationDetail.FinalPrice</label></td>
                                    <td><label class="total" type="number">@(quotationDetail.Quentity * quotationDetail.FinalPrice) </label></td>
                                </tr>
                                count = count + 1;
                            }
                        }
                        <tr>
                            <th colspan="6" class="text-left">Grand Total</th>
                            <td><label type="text">@Model.GrantTotal</label>/-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/common.js"></script>
}