﻿
@{
    ViewBag.Title = "Users";
}
<style>
    .table th, .table td {
        padding: .200rem 0.5em;
    }
</style>
<div class="card">
    <div class="card-header with-elements">
        <span class="card-header-title mr-2 p-0"><b style="font-size:20px">ContactUs Users</b></span>
        @*<div class="card-header-elements ml-md-auto">
                <a href="@Url.Action("Manage")" class="btn btn-xs btn-outline-primary btn-add"><i class="fa fa-plus"></i> Add</a>
            </div>*@
    </div>
    <div class="card-datatable table-responsive  contact-us-table">
        <table class="datatables-demo table table-striped table-bordered" id="tblContactUsUsers">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>ContactNumber</th>
                    <th>message</th>
                    @*<th style="width:5%;"></th>
                        <th style="width:5%;"></th>*@
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts{


    <script type="text/javascript">
        var oTable;

        var oTable = $('#tblContactUsUsers').DataTable({
            dom: '<"row mx-0 p-3"<"col-6"l><"col-6"f>><"row mx-0"<"col-12 table-responsive mx-0 px-0"t>><"row align-items-center mx-0 px-3 datatable-footer" <"col-md-6"i><"col-md-6"p>>"',
            "ajax": {
                "url": "/Admin/ContactUsUsers/Users",
                "type": "POST",
                "datatype": "json",
            },
            "paging": true,
            "searching": true,
            "order": [],
            "columns": [
                { data: "Name" },
                { data: "Email" },
                { data: "ContactNumber", orderable: false },
                {
                    data: "Message", orderable: false,


                    //"targets": 4,
                    //"render": function (data, type, row) {
                    //    if (row.Message == "" || row.Message.length <= 10) {
                    //        return row.Message
                    //    }
                    //    else {
                    //        var shortText = row.Message.substring(0, 30);
                    //        var cleanStr = row.Message.replace(/["']/g, "")
                    //        return shortText + '...' + "<a id=\"toggleButton\" onclick=\"toggleShowMoreLessText('" + cleanStr + "');\" href=\"javascript:void(0);\">(Read more)</a>"
                    //    }
                    //},

                    //"toggleShowMoreLessText": function (desc) {
                    //    return desc + '...' + "<a id=\"toggleButton\" onclick=\"prism.ra.toggleShowMoreLessText('" + desc + "');\" href=\"javascript:void(0);\">(Read less)</a>"

                    //},
                },
                    
              

            ],
        });

    </script>
}

