﻿
@{
    ViewBag.Title = "ConfirmEmail";
}
<style>
    .confirm-email-box {
        margin: 199px auto 80px;
        background: #fff;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.050);
        padding: 25px;
        width: 450px;
        text-align: center;
        border-radius: 5px;
    }

        .confirm-email-box h1 {
            color: green;
            font-size: 26px;
        }

        .confirm-email-box a {
            font-size: 14px;
            background: #1e3e5a;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            padding: 10px 15px;
            display: inline-block;
            margin-top: 5px;
            font-weight: 500;
        }

        .confirm-email-box h1 i {
            font-size: 50px;
            margin-bottom: 15px;
            color: green;
            border: 1px solid green;
            display: inline-block;
            padding: 15px 18px;
            border-radius: 50%;
        }

    .confirm-email-box {
        margin: 80px 0 20px 0;
        padding: 25px;
        width: auto;
        text-align: center;
        border-radius: 5px;
    }
</style>


<div class="container">
    <div class="confirm-email-box">
        <h1 style="margin:0;"><i class="fa fa-thumbs-up"></i><br />Successfully Verified</h1>
        <p class="mt-3">
            Thank you for confirming your email.<br />
            <a href="/Account/Login">Click to Login </a>
        </p>
    </div>
</div>

