﻿@model SarvamCart.Domain.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<style>
    span.field-validation-error {
        border: 1px solid;
        padding: 5px 59px;
        position: relative;
        top: -15px;
        background-color: #ffe8e8;
        border-radius: 5px;
    }
</style>
<div class="py--100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login text-center">
                    <h2>Let's Get Started</h2>
                    <span>Welcome back, Please login your account</span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <div class="login-box">

                            @using (Html.BeginForm("ForgetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "ResetPass" }))
                            {
                                <div class="text-center">@Html.ValidationMessage("Error", new { @class = "text-danger" })</div>
                                <label>Your Email</label>
                                <div class="input-group mb--20">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                                    </div>
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Enter Your Register email" } })
                                </div>
                               
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn-login">Reset</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function validate() {

            if ($("#Password").val() == "") {
                toastr.error('Please Enter Your Password');
                $("#Password").focus();
                return false;
            }
            if ($("#ConfirmPassword").val() == "") {
                toastr.error('Please Enter Your Confirm Password');
                $("#ConfirmPassword").focus();
                return false;
            }
            if ($("#Password").val() != $("#ConfirmPassword").val()) {
                $("#Password").focus();
                toastr.error("Password does not match.");
                return false;
            }

            return true;
        }
        $(document).ready(function () {
            $("#ResetPass").on("submit", function (e) {
                e.preventDefault();
                if (validate()) {
                    $("#ResetPass")[0].submit();
                }
            })
        });

         $(function(){
             var msg = "@(TempData["Success"] as string)";
             if (msg !== "") {
                 toastr.success(msg);
             }
         });

          $(function(){
              var error = "@(TempData["ErrorMsg"] as string)";
              if (error !== "") {
                  toastr.error(error);
             }
          });

    </script>
}
