﻿<section style="overflow-x:hidden!important;">
    <div class="py--10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">

                    <div class="about-icon mt--10">
                        <div class="row ju">
                            <div class="col-sm-6 col-md-12">
                                <div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4">

                                    <div class="ui-bg-overlay bg-dark opacity-25"></div>

                                    <div class="authentication-inner py-5">
                                        @*<div class="d-flex justify-content-center align-items-center pb-2 mb-2">
                                                    <img src="~/Admin/img/sarvam-logo.png" class="img-logo" />
                                            </div>*@
                                        @*<div class=" about-text">
                                                <a style="width:45%" href="~/Guest/Manage" type="button" class="text-center btn btn-secondary">Proceed As Guest </a>
                                                <a style="float:right;width:46%;" href="~/Account/Registeration" type="button" class="text-center btn btn-secondary">Registration </a>
                                            </div>*@
                                        <br />
                                        <div class="card">
                                            <div class="p-4 p-sm-5">
                                                <h5 class="text-center text-muted font-weight-normal mb-4">Login to Your Account</h5>
                                               @* @using (Html.BeginForm(FormMethod.Post, new { id = "register-frm", returnUrl = @returnUrl }))*@
                                                {
                                                    @*<input type="hidden" name="returnUrl" value="@returnUrl" />*@
                                                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                                                    <div class="form-group">
                                                        <label class="form-label">Email</label>
                                                        @Html.TextBoxFor(m =>"admin@gmail.com", new { @class = "form-control", placeholder = "Your User Name", @required = "Required", @type = "email" })
                                                        @*@Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })*@

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label d-flex justify-content-between align-items-end">
                                                            Password
                                                            <a href="/Account/ForgetPassword" class="d-block small">Forgot password?</a>
                                                        </label>
                                                        @Html.PasswordFor(m => 123456, new { @class = "form-control", placeholder = "Your Password", @required = "Required" })
                                                        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                                                    </div>
                                                    <div class="d-flex justify-content-center align-items-center m-0">
                                                        @*<label class="custom-control custom-checkbox m-0">
                                                                <input type="checkbox" class="custom-control-input">
                                                                <span class="custom-control-label">Remember me</span>
                                                            </label>*@
                                                        <button type="submit" class="btn btn-primary btn_click ">Sign In</button>
                                                    </div>

                                                    <!-- / Form -->
                                                }
                                            </div>
                                            @*<div class="card-footer py-3 px-4 px-sm-5">
                                                    <div class="text-center text-muted">
                                                        Don't have an account yet? <a href="@Url.Action("Registeration","Account")">Sign Up</a>
                                                    </div>
                                                </div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
