﻿@model SarvamCart.Domain.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<style>
    span.field-validation-error {
        border: 1px solid;
        padding: 5px 59px;
        position: relative;
        top: -15px;
        background-color: #ffe8e8;
        border-radius: 5px;
    }
    .text-end{
        text-align: end !important;
    }
</style>
<div class="py--100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login text-center">
                    <h2>Let's Get Started</h2>
                    <span>Welcome back, Please login your account</span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <div class="login-box">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "login-frm" }))
                            {
                                <div class="text-center">@Html.ValidationMessage("Error", new { @class = "text-danger" })</div>
                                <label>Email Address</label>
                                <div class="input-group mb--20">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                                    </div>
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Enter Your EmailAddress" } })
                                </div>
                                <label>Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend input-group-eye">
                                        <div class="input-group-text"><i class="fa fa-eye-slash" id="showPass"></i></div>
                                    </div>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "required", @placeholder = "Enter Your Password" } })
                                    @* <input type="password" class="form-control" placeholder="Enter Your Password">*@
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-6 mt-3 p-0">
                                            <label>
                                                <p>@Html.CheckBoxFor(m => m.RememberMe) Remember me</p>
                                            </label>
                                        </div>
                                        <div class="col-6 mt-3 p-0 text-end">
                                            <p>
                                                <a href="ForgetPassword"> Forgot Password? </a>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="text-center mt-3">
                                    <button type="submit" id="btnLogin" class="btn-login">Login</button>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <p class="text-center">
                                        Doesn't have an account yet? <a href="Registration">Register</a>
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#btnLogin").on("click", function () {
                var rememberMe = $('#RememberMe').prop('checked');
                if (rememberMe) {
                    var userId = $('#EmailAddress').val();
                    var password = $('#Password').val();
                    $.cookie('userId', userId, { expires: 30 });
                   // $.cookie('password', password, { expires: 30 });
                    $.cookie('rememberMe', true, { expires: 30 });
                }
                else {
                    $.cookie('userId', null);
                   // $.cookie('password', null);
                    $.cookie('rememberMe', null);
                }
            });
            var remember = $.cookie('rememberMe');
            if (remember == 'true') {
                var userid = $.cookie('userId');
                $('#EmailAddress').attr("value", userid);
                var chkbx = $('#RememberMe').prop('checked', true);
                //var password = $.cookie('password');
                //$('#Password').attr("value", password);
            }
            $("#EmailAddress").on("input", function () {
                var remember = $.cookie('rememberMe');
                if (remember == 'true') {
                    var userId = $.cookie('userId');
                    var uId = $("#EmailAddress").val();
                    //if (userId == uId) {
                    //    var password = $.cookie('password');
                    //    $('#Password').val(password);
                    //} else {
                    //    $('#Password').val('');
                    //}
                }
            });
        });


          $(function(){
              var error = "@(TempData["error"] as string)";
              if (error !== "") {
                  toastr.error(error);
             }
          });
        

        $(function () {
            $("#showPass").click(function () {
                $(this).toggleClass("fa-eye-slash fa-eye");
                var type = $(this).hasClass("fa-eye") ? "text" : "password";
                $("#Password").attr("type", type);
            });
        });


    </script>
}