﻿
@model SarvamCart.Domain.Models.RegistrationModel
@{
    ViewBag.Title = "Registration";
}
<style>
    span.field-validation-error {
        border: 1px solid;
        padding: 5px 59px;
        position: relative;
        top: -15px;
        background-color: #ffe8e8;
        border-radius: 5px;
    }
</style>
<div class="py--100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login text-center">
                    <h2>Let's Get Started</h2>
                    <span>Welcome back, Please Register your account</span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <div class="login-box registre">

                            @using (Html.BeginForm("Registration", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "Register-frm" }))
                            {
                                <div class="row">
                                    <div class="col-6">
                                        <div class="text-center">@Html.ValidationMessage("Error", new { @class = "text-danger" })</div>
                                        <label>UserName</label>
                                        <div class="input-group mb--20 ">
                                            <div class="input-group-prepend ">
                                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                                            </div>
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Enter Your Username" } })
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label>Conatct Number</label>
                                        <div class="input-group mb--20">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-phone"></i></div>
                                            </div>
                                            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @type = "Number", @required = "required", @placeholder = "Enter Your Number" } })
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Email</label>
                                        <div class="input-group mb--20">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                                            </div>
                                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @type = "email", @required = "required", @placeholder = "Enter Your Email" } })
                                            @* <input type="password" class="form-control" placeholder="Enter Your Password">*@
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label>Password</label>
                                        <div class="input-group ">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-lock"></i></div>
                                            </div>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "required", @placeholder = "Enter Your Password" } })
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label>Confirm Password</label>
                                        <div class="input-group ">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-lock"></i></div>
                                            </div>
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "required", @placeholder = "Enter Your Password" } })
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <label>
                                            <p>@Html.CheckBoxFor(m => m.ShowPassword) Show Password</p>
                                        </label>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn-login">Register</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <p class="text-center">
                                            Have alreay an account?<a href="Login"> Login</a>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function validate() {
            if ($("#UserName").val() == "") {
                toastr.error('Please Enter Your First Name');
                $("#UserName").focus();
                return false;
            }
            if ($("#EmailAddress").val() == "") {
                toastr.error('Please Enter Your Email');
                $("#EmailAddress").focus();
                return false;
            }
            if ($("#Password").val() == "") {
                toastr.error('Please Enter Your Password');
                $("#Password").focus();
                return false;
            }
            if ($("#Password").val().length < 6) {
                $("#Password").focus();
                toastr.error('Password should be in 6 character or more then 6');
                return false;
            }
            if ($("#ConfirmPassword").val() == "") {
                toastr.error('Please Enter Your Confirm Password');
                $("#ConfirmPassword").focus();
                return false;
            }
            if ($("#Password").val() != $("#ConfirmPassword").val()) {
                $("#Password").focus();
                toastr.error("Password does not match.");
                return false;
            }
            if ($("#ContactNumber").val().length != 10) {
                $("#ContactNumber").focus();
                toastr.error('Contact number should be 10 digits');
                return false;
            }

            return true;
        }

        $(document).ready(function () {
            $("#Register-frm").on("submit", function (e) {
                e.preventDefault();
                if (validate()) {

                    $("#Register-frm")[0].submit();
                }
            });

            $(function () {
                var msg = "@(TempData["SuccessMsg"] as string)";
                if (msg !== "") {
                    toastr.success(msg);
                }
            });

            $(function () {
                var error = "@(TempData["ErrorMsg"] as string)";
                if (error !== "") {
                    toastr.error(error);
                }
            });
        });

        $(function () {
            $("#ShowPassword").change(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $("#Password").attr("type", "text");
                    $("#ConfirmPassword").attr("type", "text");
                } else {
                    $("#Password").attr("type", "password");
                    $("#ConfirmPassword").attr("type", "password");
                }
            });
        });


    </script>
}


