﻿@model SarvamCart.Domain.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
}
<style>
    span.field-validation-error {
        border: 1px solid;
        padding: 5px 59px;
        position: relative;
        top: -15px;
        background-color: #ffe8e8;
        border-radius: 5px;
    }
</style>
<div class="py--100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login text-center">
                    <h2>Let's Get Started</h2>
                    <span>Welcome back, Please login your account</span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <div class="login-box">
                            @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "Reset-frm" }))
                            {
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.EmailAddress)

                                <div class="text-center">@Html.ValidationMessage("Error", new { @class = "text-danger" })</div>
                                <label>Password</label>
                                <div class="input-group mb--20">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                                    </div>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "required", @placeholder = "Enter Your Password" } })
                                </div>
                                <label>ConfirmPassword</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-lock"></i></div>
                                    </div>
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "required", @placeholder = "Enter Your Password" } })
                                    @* <input type="password" class="form-control" placeholder="Enter Your Password">*@
                                </div>
                                <div class="col-12 mt-3 p-0">
                                    @Html.CheckBoxFor(m => m.ShowPassword)
                                    <label>Show Password</label>
                                </div>
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn-login">Reset</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">


         function validate() {
           
            if ($("#Password").val() == "") {
                toastr.error('Please Enter Your Password');
                $("#Password").focus();
                return false;
            }
            if ($("#ConfirmPassword").val() == "") {
                toastr.error('Please Enter Your Confirm Password');
                $("#ConfirmPassword").focus();
                return false;
            }
            if ($("#Password").val() != $("#ConfirmPassword").val()) {
                $("#Password").focus();
                toastr.error("Password does not match.");
                return false;
            }

            return true;
        }

        $(document).ready(function () {
            $("#Reset-frm").on("submit", function (e) {
                e.preventDefault();
                if (validate()) {

                    $("#Reset-frm")[0].submit();
                }
            })

              $(function(){
                 var msg = "@(TempData["Success"] as string)";
                 if (msg !== "") {
                     toastr.success(msg);
                 }
              });
        });

        $(function () {
            $("#ShowPassword").change(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $("#Password").attr("type", "text");
                    $("#ConfirmPassword").attr("type", "text");
                } else {
                    $("#Password").attr("type", "password");
                    $("#ConfirmPassword").attr("type", "password");
                }
            });
        });


    </script>

}
