﻿@model SarvamCart.Domain.Models.ViewModelQuotaion
@{
    ViewBag.Title = "Quotation Details";
}
@Html.HiddenFor(x => Model.Id)
@Html.HiddenFor(x => Model.UserId)
<section>
    
</section>
<section>

    @{Html.RenderAction("_Quotationpdf", "Quotation", new { area = "Admin", id = Model.Id }); }

    <div class="text-center">
        <a href="@Url.Action("DownloadPdf","Quotation",new { id=Model.Id})">Download Pdf</a>
    </div>
</section>

