﻿
@{
    ViewBag.Title = "Quotation";
}

<div class="card">
    @*<h6 class="card-header">
        </h6>*@
    <div class="card-header with-elements">
        <span class="card-header-title mr-2 p-0"><b style="font-size:20px">Quotation Request</b></span>

    </div>
    <div class="card-datatable table-responsive product-table">
        <table class="datatables-demo table table-striped table-bordered mt-0 mb-0" id="tblQuotaion">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>RequestDate</th>
                    <th>Status</th>
                    <th style="width:5%;" class="text-center"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

    <script type="text/javascript">
        var oTable = $('#tblQuotaion').dataTable({
            dom: '<"row mx-0 p-3"<"col-6"l><"col-6"f>><"row mx-0"<"col-12 table-responsive mx-0 px-0"t>><"row align-items-center mx-0 px-3 datatable-footer" <"col-md-6"i><"col-md-6"p>>"',
            // "bprocessing": true,
            // "serverSide": true,
            // "bInfo": true,
            // "bPaginate": true,
            // "bLengthChange": false,
            // "bpageLength": 10,

            "ajax": {

                "url": "/Admin/Quotation/QuotationList",
                "type": "POST",
                "data": { act: 'dl', lt: 'sch' },
                "datatype": "json",
            },
            "order": [],

            "columns": [

                { data: "UserName", "orderable": true },
                {
                    "data": "CreatedOn", "orderable": true,
                    //"render": function (data, type, row) {
                    //    return '<p>' + moment(row.CreatedOn).format("YYYY-MM-DD hh:mm") + ' </p>';
                    //},

                    "render": function (data, type, row) {
                        return moment(row.CreatedOn).format('DD/MM/YYYY hh:mm:ss');
                    }
                },
                {
                    data: "StatusOfOrder", "orderable": true,
                    "render": function (data, type, full, row) {
                        if (full.StatusOfOrder == 0)
                            return "InCart";
                        else if (full.StatusOfOrder == 1)
                            return "Pending";
                        else
                            return "Proceed";
                    }
                },
                {
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        return '<a class="btn btn-primary btn-edit" href="/Admin/Quotation/QuotationDetails/' + full.Id + '"><i class="ion ion-md-eye "></i></a>';
                    }

                },
            ]
        });


        $("#tblProduct").on('click', '.btn-delete', function () {

            var data = $(this).data();
            deleteRecord(function (result) {
                if (result) {
                    var url = "@Url.Action("Delete", "Product")";
                    $.post(url, { Id: data.id }, function (response) {
                        if (response.IsSuccess == true) {
                            //oTable.fnDraw(false);
                            location.reload();
                        }
                        else {
                            toastr.error("Product not Deleted");
                        }
                    });
                }
            });
        });


    </script>
}
