﻿@model SarvamCart.Domain.Models.ViewModelQuotaion
@{
    ViewBag.Title = "Quotation Details";
}
@using (Html.BeginForm("QuotationDetails", "Quotation", FormMethod.Post))
{
    @Html.HiddenFor(x => Model.Id)
    @Html.HiddenFor(x => Model.UserId)
    <div class="card">
        <div class="card-header with-elements">
            @* user details *@
            <div class="card-header-elements ml-md-auto">
                <a href="@Url.Action("Index")" class="btn btn-xs btn-outline-primary btn-back"><i class="fa fa-chevron-left mr-1"></i> Back</a>
            </div>
        </div>
        @* quotation details *@
        <div class="container" id="content">
            <div class="company-user-details card-box p-4">
                <div class="row justify-content-between  pb-4">
                    <div class="col-md-7">
                        <h4 class="mb-2">From: SarvamCart-Quotation</h4>
                        <p class="mb-0">G-28, Anupam Business Hub, Yogi Chowk, </p>
                        <p class="mb-0">Surat - 395006, Gujarat, India.</p>
                        <p class="mb-0">Call Us: +91 94085 58818</p>
                        <p class="mb-0">Email: sarvam.cart123@gmail.com</p>
                        <p class="mb-0">Date: @DateTime.Now.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="col-md-5">
                        <h4 class="mb-2">To: @Model.UserName</h4>
                        <p class="mb-0">Phone: +91 @Model.ContactNumber</p>
                        <p class="mb-0">Email: @Model.UserEmail</p>
                        <p class="mb-0">RequestDate: @Model.CreatedOn.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
                <hr>
                <div class="row py-3">
                    <div class="col-md-3">
                        <p class="font-weight-bold">@Model.UserName</p>
                        <p class="font-weight-bold">Here is your quotation as request.Kindly check out this.</p>
                        <p class="mb-0 font-weight-bold">Best Regard,</p>
                        <p class="font-weight-bold">SarvamCart</p>
                    </div>
                </div>
                <div class="row" id="tblrow">
                    <div class="col-12">
                        <table class="table-bordered border mx-auto" id="quotation">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Product Image</th>
                                    <th>Product Code</th>
                                    <th style="width:350px;">Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var count = 0;
                                    foreach (var quotationDetail in Model.CartDetails)
                                    {
                                        var sr = count + 1;
                                        <tr>
                                            <input type="hidden" value="@quotationDetail.ProductId" name="CartDetails[@count].ProductId" />
                                            <input type="hidden" value="@quotationDetail.Id" name="CartDetails[@count].Id" />
                                            <input type="hidden" value="@quotationDetail.QuotationId" name="CartDetails[@count].QuotationId" />
                                            <input type="hidden" value="@quotationDetail.ProductImage" name="CartDetails[@count].ProductImage" />
                                            <input type="hidden" value="@quotationDetail.ProductName" name="CartDetails[@count].ProductName" />
                                            <input type="hidden" value="@quotationDetail.Quentity" name="CartDetails[@count].Quentity" />
                                            <td>@sr</td>
                                            <td style="max-width:100px;"><img src="~/Assets/UploadedFiles/@quotationDetail.ProductImage" class="img-fluid" /></td>
                                            <td> <label type="text">@quotationDetail.ProductCode</label> </td>
                                            <td><label type="text">@quotationDetail.ProductName</label></td>
                                            <td><label class="quentity font-weight-bold" type="text">@quotationDetail.Quentity</label></td>
                                            <td>
                                                <input type="number" class="finalPrice" value="@quotationDetail.FinalPrice" name="CartDetails[@count].FinalPrice" />
                                                @*<label class="updtPrice" type="text">@quotationDetail.FinalPrice</label>*@
                                                <label class="updtPrice font-weight-bold" type="number"></label>
                                            </td>
                                            <td><label class="total font-weight-bold" type="number"></label></td>
                                        </tr>
                                        count = count + 1;
                                    }
                                }
                                <tr>
                                    <th colspan="6" class="text-left">Grand Total</th>
                                    <td><label id="grand-total" class="font-weight-bold" type="number"></label>/-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="text-center mr-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="text-center">
                <a href="@Url.Action("DownloadQuotation","Quotation",new { id=Model.Id})" id="cmd">pdf</a>
            </div>
        </div>
    </div>
    <input type="hidden" name="grandTotal" id="grandTotal" />
}

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".updtPrice").hide();
        });

        $("#quotation .finalPrice").on("blur", function () {

            var tr = $(this).parents("tr");
            var finalPrice = $(this).val();
            var qty = $(".quentity", tr).text()
            $(".total", tr).text(qty * finalPrice);
            $(".updtPrice", tr).text(finalPrice);

            var grandTotal = 0;
            $("#quotation .total").each(function () {
                grandTotal += Number($(this).text());
            });

            $("#grand-total").text(grandTotal);
            $("#grandTotal").val(grandTotal);
            $(".updtPrice").val(finalPrice);
        });
        //convert quotation in pdf format

        $("body").on("click", "#cmd", function () {
            $(".updtPrice").show();
            $(".finalPrice").hide();
            window.location.href = '@Url.Action("DownloadPdf","Quotation",new { id=Model.Id})';
            //html2canvas($('#content')[0], {
            //    onrendered: function (canvas) {
            //        var data = canvas.toDataURL();
            //        var docDefinition = {
            //            content: [{
            //                image: data,
            //                width: 580,
            //            }]
            //        };
            //        pdfMake.createPdf(docDefinition).download("Quotation.pdf");
            //    }
            //});
        });



            //var doc = new jsPDF();
            //var specialElementHandlers = {
            //    '#editor': function (element, renderer) {
            //        return true;
            //    }
            //};

            //$("#cmd").click(function () {
            //    debugger;
            //    doc.fromHTML($("#company-user-details").html(), 15, 15, {
            //        'elementHandlers': specialElementHandlers
            //    });
            //    doc.save('sample-file.pdf');

            //});

    </script>
}

