
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

    .fancybox-opened .fancybox-skin {
        -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(fancybox_sprite.png);
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

    #fancybox-loading div {
        width: 44px;
        height: 44px;
        background: url(fancybox_loading.gif) center center no-repeat;
    }

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(blank.gif);
    /* helps IE */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

    .fancybox-lock body {
        overflow: hidden !important;
    }

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: rgba(0, 0, 0, 0.5);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}
/* Title helper */
.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

    .fancybox-title-float-wrap .child {
        display: inline-block;
        margin-right: -100%;
        padding: 2px 20px;
        background: transparent;
        /* Fallback for web browsers that doesn't support RGBa */
        background: rgba(0, 0, 0, 0.8);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        text-shadow: 0 1px 2px #222;
        color: #fff;
        font-weight: bold;
        line-height: 24px;
        white-space: nowrap;
    }

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        /*background-image: url('../../Images/ProductImage/');*/
        background-size: 44px 152px;
        /*The size of the normal image, half the size of the hi-res image*/
    }

        #fancybox-loading div {
            background-image: url(https://fancyapps.com/fancybox/source/fancybox_loading@2x.gif);
            background-size: 24px 24px;
            /*The size of the normal image, half the size of the hi-res image*/
        }
}

.gallery-viewer {
    margin-top: 30px !important;
    margin-bottom: 0 !important;
}

    .gallery-viewer div:last-child {
        display: none;
    }

.product-shop .product-shop-cantent a {
    padding: 12px 52px;
    font-weight: 600;
}

.product-shop .product-shop-cantent h1 {
    font-size: 31px;
    margin-bottom: 30px;
}

.product-details-slider h4 {
    position: relative;
    margin: 0;
    padding-left: 10px;
    margin-bottom: 35px;
}

    .product-details-slider h4:before {
        width: 8px;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        position: absolute;
        content: "";
        height: 50px;
        background-color: #4ca82d;
    }

.table-bordered {
    border-top: none !important;
    border-left: none;
    border-right: none;
}

    .table-bordered th {
        border-left: none !important;
        border-top: none !important;
    }

    .table-bordered td {
        border-right: none !important;
        border-top: none !important;
    }

.product-details {
    float: unset;
    width: unset;
    padding: 0;
    padding-top: 25px;
}

.product-shop {
    background: #f1f1f1;
    padding:75px 0 75px 0;
}

.wrapper a img {
    width: 100%;
    margin-bottom: 8px;
}

.zoomContainer {
    max-height: 400px !important;
    width: 400px !important;
    /*border: 1px solid #d6d6d6;*/
}

.zoomLens {
    height: 100px !important;
    width: 100px !important;
}

#zoom_10,
.zoomTint {
    width: 400px !important;
}

.zoomWindow {
    position: absolute !important;
}

.wrapper a img {
    border: 1px solid #d6d6d6;
}

a#ui-carousel-next i,
a#ui-carousel-prev i {
    color: #ccc;
}

a#ui-carousel-next,
a#ui-carousel-prev {
    background-image: unset;
    border: 1px solid #ccc;
    display: block;
    width: 92%;
    height: 22px;
    line-height: 17px;
}

a#ui-carousel-prev {
    top: 30px;
    left: 4%;
}

a#ui-carousel-next {
    left: 4%;
    bottom: 0px;
}


ul li {
    margin: auto !important;
}

@media(max-width:767px) {
    .zoomContainer {
        width: unset !important;
        height: unset !important;
    }
    .gallery_pdp_container {
        padding-top: 0 !important;
    }

    .gallery_pdp_container {
        padding: 0px 0 !important;
    }

    
    .product-details {
        margin-top:15px;
        padding-top: 0px;
    }
    .pt--0{
        padding-top:0!important;
    }
    .gallery-viewer {
        margin-top: 0px !important;
        margin-bottom: 0 !important;
    }
    .carousel-inner {
        min-height: 411px;
        display: flex;
        align-items: center;
    }
    .carousel-control-prev, .carousel-control-next {
        top: unset;
        bottom: unset;
        top: 50%;
        opacity: 1;
    }
    .btn-bg {
        background: #fff;
        padding: 5px 10px 0px 10px;
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.080);
    }
    .carousel-control-prev, .carousel-control-next {
        width: 12%;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: transparent !important;
        border-top: unset;
        border-bottom: unset;
        border: 1px solid #4ca82d;
        position:relative;
    }

        .carousel-indicators li:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 80%;
            width: 80%;
            background: #4ca82d;
            border-radius: 15px;
            opacity: 0;
        }
    .carousel-indicators li.active:before {
        opacity: 1;
    }
        .carousel-indicators {
            bottom: 10px !important;
            top:unset;
            margin-bottom:0!important;
        }
    .product-shop {
        background: #f1f1f1;
        padding: 25px 0 25px 0;
    }
}

@media(min-width:576px) and (max-width:767px){
    .btn-bg {
        background: #fff;
        padding: 5px 10px 0px 10px;
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.080);
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 16px;
        height: 16px;
    }
}
@media(max-width:321px) {
    .carousel-inner {
        min-height: 320px !important;
    }
}
@media(min-width:322px) and (max-width:361px) {
    .carousel-inner {
        min-height: 360px !important;
    }
}
@media(min-width:362px) and (max-width:376px) {
    .carousel-inner {
        min-height: 375px !important;
    }
}