﻿
@{
    ViewBag.Title = "Category";
}
<style>
    .table th, .table td {
        padding: .200rem 0.5em;
    }
</style>
<div class="card">
    <div class="card-header with-elements">
        <span class="card-header-title mr-2 p-0"><b style="font-size:20px">Manage Category</b></span>
        <div class="card-header-elements ml-md-auto">
            <a href="@Url.Action("Manage")" class="btn btn-xs btn-outline-primary btn-add"><i class="fa fa-plus"></i> Add</a>
        </div>
    </div>
    <div class="card-datatable table-responsive category-table">
        <table class="datatables-demo table table-striped table-bordered" id="tblCategory">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>IsActive</th>
                    <th>Display Order</th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts{


    <script type="text/javascript">
        var oTable;

       var  oTable= $('#tblCategory').DataTable({
           dom: '<"row mx-0 p-3"<"col-6"l><"col-6"f>><"row mx-0"<"col-12 table-responsive mx-0 px-0"t>><"row align-items-center mx-0 px-3 datatable-footer" <"col-md-6"i><"col-md-6"p>>"',
                "ajax": {
                     "url": "/Admin/Category/GetCategory",
                    "type": "POST",
                    "datatype": "json",
           },
           "paging": true,
           "searching": true,
           "order": [],
                "columns": [
                    { data: "CategoryName"},
                    //{ data: "IsActive", "orderable": false },
                    {
                        "orderable": false ,
                        "render": function (data, type, full, meta) {

                            if (full.IsActive == true) {
                                return ' <label class="switcher"><input type = "checkbox" class="switcher-input " checked data-id="' + full.Id + '"  ><span class="switcher-indicator"><span class="switcher-yes"></span><span class="switcher-no"></span></span></label >'

                            }
                            else {
                                return ' <label class="switcher"><input type = "checkbox" class="switcher-input " data-id="' + full.Id + '"  ><span class="switcher-indicator"><span class="switcher-yes"></span><span class="switcher-no"></span></span></label >'

                            }
                        }
                    },
                    { data: "DisplayOrder" },

                    {
                        "orderable": false,
                        "render": function (data, type, full, meta) { return '<a class="btn btn-primary btn-edit" href="/Admin/Category/Manage/' + full.Id + '"><i class="ion ion-md-create"></i></a>'; }
                    },
                    {
                        "orderable": false,
                        render: function (data, type, row) {
                            return '<button  type="button" class="btn btn-danger  btn-delete" data-id="' + row.Id + '" ><i class="ion ion-md-trash fa-sm" aria-hidden="true"></i></button>';
                        }
                    },
                 ],
            });



        $(document).ready(function () {
            $("#tblCategory").on('click', '.btn-delete', function () {
                var data = $(this).data();
                deleteRecord(function (result) {
                    if (result) {
                        var url = "@Url.Action("Delete", "Category", new { area="Admin"})";
                        $.post(url, { ID: data.id }, function (result) {
                            if (result.IsSuccess) {
                                location.reload();
                            }
                            else {
                                toastr.error("Unable to delete.First delete products which is exist in category!");
                            }
                    });
                    }
                });
            });
        });



        $("#tblCategory").on('click','.switcher-input',function () {
            var isactive = $(this).is(":checked ")
            var data = $(this).data();
            var url = '/Admin/Category/UpdateIsActive?Id=' + data.id + '&IsActive=' + isactive ;

            $.ajax(
                {
                    //url= '/Admin/Category/UpdateIsActive?Id=' + Id + '&IsActive=' + isactive;
                   //url: '/Admin/Category/UpdateIsActive/Id' + Id,
                   @*url: "@Url.Action("UpdateIsActive", "Category", new { Id="", IsActive=""})/" + (Id, isactive),*@

                    url: url,
                    method: "POST",
                    data: data,
                    dataType: 'json',
                        success: function (result) {
                            if (result.IsSuccess == true) {
                                location.reload();
                            }
                            else {
                                toastr.error("not updated!");
                            }

                        }
                });

            });

    </script>
}

