﻿@model SarvamCart.Domain.Models.ManageCategory
@{
    ViewBag.Title = "Manage";
}


@using (Html.BeginForm("Manage", "Category", FormMethod.Post, new { id = "manage-frm" }))
{
    @Html.HiddenFor(model => model.Id)

    <div class="card">
        <div class="card border-0">
            <div class="card-header with-elements">
                <span class="card-header-title mr-2 p-0">
                    <b style="font-size : 20px">Add Category</b>
                </span>
                <div class="card-header-elements ml-md-auto">
                    <a href="@Url.Action("Index")" class="btn btn-xs btn-outline-primary btn-back"><i class="fa fa-chevron-left mr-1"></i> Back</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="form-group col-md-4 mb-0">
                        @Html.LabelFor(model => model.CategoryName, "Category Name", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        @Html.LabelFor(model => model.DisplayOrder, "Display Order", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        <label class="mb-0 mt-4">
                            @Html.CheckBoxFor(m => m.IsActive, false)
                            IsActive
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}
@section Scripts{
    <link href="~/Assets/Admin/vendor/libs/toastr/toastr.css" rel="stylesheet" />
    <script src="~/Assets/Admin/vendor/libs/toastr/toastr.js"></script>

    <script type="text/javascript">

        //function validate() {
        //    debugger;
        //    if ($("#CategoryName").val().length > 15) {
        //        toastr.error('Too many characters');
        //        return false;
        //    }
        //    return true;
        //}

        //    $(document).ready(function () {
        //        $("#manage-frm").on("submit", function (e) {
        //            e.preventDefault();
        //            if (validate()) {

        //                $("#manage-frm")[0].submit();
        //            }
        //        })
        //    });

          $(function(){
             var msg = "@(TempData["Error"] as string)";
              if (msg !== "") {
                  toastr.error(msg);
             }
         });
    </script>
   
}





