﻿@{
    var curretLink = ViewContext.RouteData.Values["Controller"].ToString();
    var curretActionLink = ViewContext.RouteData.Values["Action"].ToString();
    var userManager = SarvamCart.Custom.IdentityUser.UserManager;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sarvam - @ViewData["Title"]</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Page 1 - HTML Starter</title>

    <!-- Main font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="~/Assets/Admin/vendor/fonts/ionicons.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/css/appwork.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/css/colors.css">
    <link href="~/Assets/Admin/vendor/libs/datatables/datatables.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/libs/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/Admin/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/Admin/vendor/css/theme-corporate.css">
    <link href="~/Assets/Admin/vendor/libs/toastr/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/Admin/vendor/css/common.css">
    <link href="~/Assets/Admin/vendor/fonts/linearicons.css" rel="stylesheet" />


    <script>document['documentMode'] === 10 && document.write('<script src="//polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>



    <link rel="stylesheet" href="~/Assets/Admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <style>
        .table th, .table td {
            padding: .200rem 0.5em;
        }
    </style>
</head>
<body>
    <div class="layout-wrapper layout-1">
        <div class="layout-inner">

            <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-navbar-theme container-p-x" id="layout-navbar ">
                <a href="@Url.Action("Index","Home",new { area=""})"><img src="~/Assets/images/logo.png" alt="logo" /></a>

                <div class="layout-sidenav-toggle navbar-nav align-items-lg-center">
                    <a class="nav-item nav-link px-0 ml-5" href="javascript:void(0)">
                        <i class="ion ion-md-menu text-large align-middle"></i>
                    </a>
                </div>

                <div class="navbar-collapse collapse" id="layout-navbar-collapse">
                    <div class="navbar-nav align-items-lg-center">
                    </div>
                </div>
                <div class="demo-navbar-user nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
                            <span class="username">@User.Identity.Name</span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="@Url.Action("LogOut","Account",new { area=""})" class="dropdown-item"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
                    </div>
                </div>
            </nav>

            <div class="layout-container">

                <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-sidenav-theme">
                    <ul class="sidenav-inner py-1">
                        <li class="sidenav-item @(curretLink=="DashBoard"?"active":"") ">
                            <a href="@Url.Action("Index","DashBoard",new { area="Admin"})" class="sidenav-link"><i class="sidenav-icon ion ion-md-home"></i><div>DashBoard</div></a>
                        </li>
                        <li class="sidenav-item @(curretLink=="Category"?"active":"") ">
                            <a href="@Url.Action("Index","Category",new { area="Admin"})" class="sidenav-link"><i class="sidenav-icon ion ion-md-grid"></i><div>Category</div></a>
                        </li>
                        <li class="sidenav-item @(curretLink=="Product"?"active":"") ">
                            <a href="@Url.Action("Index","Product",new { area="Admin"})" class="sidenav-link"><i class="sidenav-icon ion ion-md-pricetag"></i><div>Product</div></a>
                        </li>
                        <li class="sidenav-item @(curretLink=="ContactUsUsers"?"active":"") ">
                            <a href="@Url.Action("Index","ContactUsUsers",new { area="Admin"})" class="sidenav-link"><i class="sidenav-icon ion ion-md-people"></i><div>Contact Us Users</div></a>
                        </li>
                        <li class="sidenav-item @(curretLink=="Quotation"?"active":"") ">
                            <a href="@Url.Action("Index","Quotation",new { area="Admin"})" class="sidenav-link"><i class="sidenav-icon ionicons ion-ios-albums"></i><div>Quotation Request</div></a>
                        </li>
                    </ul>
                </div>

                <div class="layout-content">

                    <div style="padding:35px;">
                        @RenderBody()
                    </div>

                </div>
            </div>

        </div>

        <div class="layout-overlay layout-sidenav-toggle"></div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/libs/popper/popper.js"></script>
    <script src="~/Assets/Admin/vendor/js/bootstrap.js"></script>
    <script src="~/Assets/Admin/vendor/js/sidenav.js"></script>
    <script src="~/Assets/Admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Assets/Admin/js/main.js"></script>
    <script src="~/Assets/Admin/vendor/js/polyfills.js"></script>
    <script src="~/Assets/Admin/js/layout-helpers.js"></script>
    <script src="~/Assets/Admin/vendor/js/theme-settings.js"></script>
    <script src="~/Assets/Admin/vendor/js/pace.js"></script>
    <script src="~/Assets/Admin/js/tables_datatables.js"></script>
    <script src="~/Assets/Admin/vendor/libs/datatables/datatables.js"></script>
    <script src="~/Assets/Admin/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/Assets/Admin/vendor/js/common.js"></script>
    <script src="~/Assets/Admin/vendor/libs/toastr/toastr.js"></script>
    <script src="~/Assets/Admin/vendor/libs/validate/validate.js"></script>
    <script src="~/Assets/Admin/vendor/libs/validate/jquery.validate.unobtrusive.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
