﻿@{
    ViewBag.Title = "About";
}
<section>
    <div class="sub-page-slider">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="sub-page-head">
                        <h1>About <span>Us</span></h1>
                        <p>Know about us more</p>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="breadcrumb-item active"> About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="overflow-x:hidden!important;">
    <div class="py--100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="about-text">
                        <p>
                            As we take a deep inhale of warm summer air and fully embrace our surroundings, we’re reminded why this is the best season of the year. It’s a simple yet vital pleasure to enjoy and reconnect with the nature around us.
                        </p>
                    </div>
                    <div class="about-icon mt--70">
                        <div class="row ju">
                            <div class="col-sm-6 col-md-12">
                                <div class="row align-items-center">
                                    <div class="col-3 col-sm-4 col-md-3 col-lg-2">
                                        <img src="~/Assets/images/about-fast-icon.png" />
                                    </div>
                                    <div class="col-8">
                                        <div class="about-icon-title">
                                            <h3>FAST DELIVERY</h3>
                                            <p>We deliver 24x7</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12 mt-4 mt-sm-0 mt-md-4">
                                <div class="row align-items-center">
                                    <div class="col-3 col-sm-4 col-md-3 col-lg-2">
                                        <img src="~/Assets/images/about-exchange-icon.png" />
                                    </div>
                                    <div class="col-8">
                                        <div class="about-icon-title">
                                            <h3>FREE EXCHANGE</h3>
                                            <p>30 days return on all items</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12 mt-4">
                                <div class="row align-items-center">
                                    <div class="col-3 col-sm-4 col-md-3 col-lg-2">
                                        <img src="~/Assets/images/about-support-icon.png" />
                                    </div>
                                    <div class="col-8">
                                        <div class="about-icon-title">
                                            <h3>PREMIUM SUPPORT</h3>
                                            <p>We support online 24 hours a day</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12 mt-4">
                                <div class="row align-items-center">
                                    <div class="col-3 col-sm-4 col-md-3 col-lg-2">
                                        <img src="~/Assets/images/about-gift-icon.png" />
                                    </div>
                                    <div class="col-8">
                                        <div class="about-icon-title">
                                            <h3>BLACK FRIDAY</h3>
                                            <p>Shocking discount every friday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="about-img-section wow bounceInDown">
                        <img src="~/Assets/images/about-img.png" id="object" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="about-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-bg-box text-center">
                        <h3>WHAT WE DO</h3>
                        <p>
                             We are a one-stop shop offering the widest variety of Home applainces and other products. Our  wholesale platform offers good stuffs with an exquisite collection of accessories.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="about-bg-box text-center">
                        <h3>OUR HISTORY</h3>
                        <p>
                            By investing time into our patio, we’re able to create an outdoor sanctuary and a feeling we can finally share with our family and friends. So consider this our love letter to outdoor.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-bg-box text-center">
                        <h3>OUR MISSION</h3>
                        <p>
                            Drawing inspiration from the just a position found between nature and the world of design, forever expanding the capacity to dream up new creations. Through every new encounter.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        var window_width = $(window).width() - $('#object').width();

        var document_height = $(document).height() - $(window).height();

        $(function () {
            $(window).scroll(function () {
                var scroll_position = $(window).scrollTop();
                var object_position_left = (window_width * (scroll_position / document_height)) / 7;
                $('#object').css({
                    'left': object_position_left,
                    'animation-delay': 1000
                });
            });
        });
    </script>
}