﻿@model SarvamCart.Domain.Models.ContactUsModel

@{
    ViewBag.Title = "Contact";
}
@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @id = "Contact-Form" }))
{

    <section>
        <div class="sub-page-slider">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="sub-page-head">
                            <h1>Contact <span>Us</span></h1>
                            <p>Know about us more</p>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li class="breadcrumb-item active"> Contact Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="py--100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="about-text">
                            <p class="text-center">
                                Include a call-to-action to provide visitors with another option if they choose not to complete the form.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="contact-box">
                    <div class="row">
                        <div class="col-md-6 col-lg-7 pr-md-0">
                            <form>
                                <div class="row p--50">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Name<sup class="text-danger">*</sup></label>
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control alert1", @required = "required" } })
                                            @*<input type="text" class="form-control alert1" placeholder="Enter Your Name" required>*@
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Email<sup class="text-danger">*</sup></label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control alert2", @type = "email", @required = "required" } })
                                            @*<input type="Email" class="form-control alert2" placeholder="Enter Your Email" required>*@
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Mobile Number<sup class="text-danger">*</sup></label>
                                            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control alert3", @type = "Number", @required = "required" } })
                                            @*  <input type="tel" class="form-control alert3" placeholder="Mobile Number" required>*@
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group mb-0">
                                            <label>Message<sup class="text-danger">*</sup></label>
                                            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @rows = "3", @required = "required" ,})
                                            @*<textarea class="form-control" placeholder="Say Somthing" rows="3" required></textarea>*@
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-get">Get Quotation</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-lg-5 order-first order-md-last">
                            <div class="contact-details">
                                <h3>Get In Touch</h3>
                                <p>
                                    Include a call-to-action to provide visitors with another option if they choose not to complete the form.
                                </p>
                                <div class="contact-icon">
                                    <i class="fa fa-phone mr-2"></i><span>+91 94085 58818</span>
                                </div>
                                <div class="contact-icon">
                                    <i class="fa fa-envelope mr-2"></i><span>sarvamcart@gmail.com</span>
                                </div>
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker mr-2"></i>
                                    <span>
                                        G-28, Anupan Business Hub, Yogi Chowk, Surat
                                        395006,Gujarat, India.
                                    </span>
                                </div>
                                <div class="social-icon">
                                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                                    <a href="#"><i class="fa fa-telegram"></i></a>
                                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                                    <a href="#"><i class="fa fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@section scripts{
    <script type="text/javascript">

        function validate() {
            if ($("#Message").val().length > 80) {
                toastr.error('Your message should be in 80 character');
                return false;
            }
            return true;
        }

        $(document).ready(function () {
            $("#Contact-Form").on("submit", function (e) {
                e.preventDefault();
                if (validate()) {

                    $("#Contact-Form")[0].submit();
                }
            })
        });



         $(function(){
             var msg = "@(TempData["Msg"] as string)";
             if (msg !== "") {
                 toastr.success(msg);
             }
         });

    

        var window_width = $(window).width() - $('#object').width();

        var document_height = $(document).height() - $(window).height();

        $(function () {
            $(window).scroll(function () {
                var scroll_position = $(window).scrollTop();
                var object_position_left = (window_width * (scroll_position / document_height)) / 7;
                $('#object').css({
                    'left': object_position_left,
                    'animation-delay': 1000
                });
            });
        });

    </script>
}