﻿@model IEnumerable<SarvamCart.Domain.Models.ViewModelProduct>

@{
    ViewBag.Title = "Home Page";
}
<section>
    <div class="slider-main">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="slider-bg">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6 text-center text-md-left">
                                    <div class="slider-text">
                                        <h1>Unique Bottle <span>Umbrella.</span></h1>
                                        <p class="mb-0 text-center text-md-left">
                                            Let a smile be your umbrella, and you'll end up with a face full of rain.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 order-first order-md-last">
                                    <img src="~/Assets/images/slider-img1.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slider-bg">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6 text-center text-md-left">
                                    <div class="slider-text">
                                        <h1>All Type Lunch <span>Boxes.</span></h1>
                                        <p class="mb-0 text-center text-md-left">
                                            This lunch box is suitable for office, picnic, home, school and other places.
                                            Made of good quality acrylic material, durable for long lasting use.

                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 order-first order-md-last">
                                    <img src="~/Assets/images/slider-img2.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <div class="bordered">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </div>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <div class="bordered">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </div>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section class="py--100 product-main">
    <div class="container">
        <div class="product-head">
            <h2 class="text-center"><span>FEW</span> PRODUCTS</h2>
        </div>
        <div class="row mt--50">

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        @*<a href="/Home/Product/@item.CategoryTypeId">*@
                        @*<a href="@Url.Action("Index", "ProductDetail", new { id = item.Id })">*@
                        <div class="product-box">
                            <img src="~/Assets/UploadedFiles/@item.InnerImage[0].InnerImages" alt="product" />
                            <div class="overlay">
                                <div class="wish-list-icon">
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="@Url.Action("Index", "ProductDetail", new { id = item.Id })"><i class="fa fa-info"></i></a>
                                    <a class="cartlnk" data-id="@item.Id"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <p class="product-name text-center">@item.Title</p>
                        @* </a>*@
                    </div>
                }
            }
            <div class="col-12 text-center">
                <span class="no-items-message">@ViewBag.Message</span>
            </div>
        </div>

        @*<div class="product-btn text-center">
                <a href="@Url.Action("Product","Home")">View all</a>
            </div>*@
    </div>
</section>
<section>
    <div class="unique-product-main">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 text-center">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/Assets/images/unique-product-img3.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Assets/images/unique-product-img2.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Assets/images/unique-product-img.png" alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-4">
                    <div class="unique-product-details">
                        <img src="~/Assets/images/review-star-img.png" alt="review-star" />
                        <p>
                            The Unique
                            Products.
                        </p>
                        <span>
                            So it's really for us about new products, because we have released a lot of new products.
                        </span>
                        @*<a class="unique-product-btn" href="#">View More</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py--100">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="javascript:;">
                    <div class="image-section">
                        <div class="border-box"></div><p>Glassware</p>
                        <img src="~/Assets/images/img-section1.png" class="w-100" />
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12 my-3 my-md-0">
                        <a href="javascript:;">
                            <div class="image-section">
                                <div class="border-box"></div><p>Kitchenware</p>
                                <img src="~/Assets/images/img-section2.png" class="w-100" />
                            </div>
                        </a>
                    </div>
                    <div class="col-12 mt--30">
                        <a href="javascript:;">
                            <div class="image-section">
                                <div class="border-box"></div><p>Wrist Watches</p>
                                <img src="~/Assets/images/img-section3.png" class="w-100" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-3 col-sm-4 col-lg-3 col-xl-4">
                            <img src="~/Assets/images/free-delivery-icon.png" />
                        </div>
                        <div class="col-6 col-sm-8 pl-md-0">
                            <div class="offer-text">
                                <p>Fast Delivery</p>
                                <span>We Deliver 24 x 7</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="row align-items-center my-3 my-sm-0 justify-content-center">
                        <div class="col-3 col-sm-4 col-lg-3 col-xl-4">
                            <img src="~/Assets/images/exchange-icon.png" />
                        </div>
                        <div class="col-6 col-sm-8 pl-md-0">
                            <div class="offer-text">
                                <p>FREE EXCHANGE</p>
                                <span>30 days return on all items.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 mt-sm-3 mt-lg-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-3 col-sm-4 col-lg-3 col-xl-4">
                            <img src="~/Assets/images/support-icon.png" />
                        </div>
                        <div class="col-6 col-sm-8 pl-md-0">
                            <div class="offer-text">
                                <p>PREMIUM SUPPORT</p>
                                <span>We support online 24 hours a day.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 mt-sm-3 mt-lg-0">
                    <div class="row align-items-center my-3 my-sm-0 justify-content-center">
                        <div class="col-3 col-sm-4 col-lg-3 col-xl-4">
                            <img src="~/Assets/images/gift-icon.png" />
                        </div>
                        <div class="col-6 col-sm-8 pl-md-0">
                            <div class="offer-text">
                                <p>BLACK FRIDAY</p>
                                <span>Shocking discount every friday.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-100">
    <div class="toys-bg">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5">
                    <div class="toys-text">
                        <h2><span>Gym</span> Products.</h2>
                        <p class="pr-5">
                            We have products which emphasize on every individual's health.
                        </p>
                        @*<a href="@Url.Action("Product","Home")">View More</a>*@
                    </div>
                </div>
                <div class="col-md-5 text-right order-first order-md-last text-center">
                    <img src="~/Assets/images/toys-img.png" alt="toy" />
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", ".cartlnk", function () {
                var id = $(this).data('id');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddToCart", "UserCart")',
                    data: { productId: id },
                    success: function (result) {
                        if (result.IsSuccess == true) {
                            location.reload();
                        }
                        else {
                            window.location.href = "@Url.Action("Login", "Account")";
                        }
                    }

                });
            });
        });

          $(function(){
             var msg = "@(TempData["Msg"] as string)";
             if (msg !== "") {
                 toastr.success(msg);
             }
         });


    </script>
}
