﻿@model IEnumerable<SarvamCart.Domain.Models.ViewModelProduct>
@{
    ViewBag.Title = "Product";
    var count = @HttpContext.Current.Session["SessionCartCounter"];
}


<input type="hidden" value="@count" id="myHiddenVar" />
<section>
    <div class="sub-page-slider">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="sub-page-head">
                        <h1><Span>@ViewBag.categoryName</Span></h1>
                        <p>All Unique Products</p>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Product", "Home",new { id=0})">Products</a></li>
                            <li class="breadcrumb-item active">@ViewBag.categoryName</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="py--100">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="product-list">
                    <div id="productList" class="row">
                        @*load partial layout _Product*@
                    </div>
                    <div class="text-center">
                        <button type="button" id="btnViewMore" data-current-page-no="0" data-has-more-rows="true" class="view-more-btn">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
       // const { success } = require("toastr");

        $(document).ready(function () {
            $('#btnViewMore').trigger("click");
        });

        $("#btnViewMore").on("click", function () {
            var btnData = $(this).data();
            if (btnData.hasMoreRows) {
                $.ajax({
                    url: '@Url.Action("_Products", "Home")',
                    data: { currentPageNo: btnData.currentPageNo, categoryId: "@ViewBag.CategoryId" },
                    success: function (response) {
                        if (response.trim().length > 0 ) {
                            $("#btnViewMore").data("current-page-no", btnData.currentPageNo + 1);
                            $("#productList").append(response);
                            var hsaMoreRows = $("#productList .product-box:last").data("has-more-rows")
                            if (!hsaMoreRows) {
                                $("#btnViewMore").hide();
                                $("#btnViewMore").data("has-more-rows", false);
                            }
                        }
                        else {
                            $("#btnViewMore").hide();
                            $("#btnViewMore").data("has-more-rows", false);
                        }
                    }
                });
            }
        });

       $(document).ready(function () {
           $(document).on("click", ".cartlnk", function () {
                var id = $(this).data('id');
               $.ajax({
                   type: "POST",
                   url: '@Url.Action("AddToCart", "UserCart")',
                   data: { productId: id },
                   success: function (result) {
                       if (result.IsSuccess == true) {
                           toastr.success("your product is added in cart!!");
                           $('#lblCartCount').text(result.count);
                           $("#lblCartCount").show();
                       }
                       else {
                           window.location.href = "@Url.Action("Login", "Account")";
                       }
                   }

               });
            });
        });

         @*$(function(){
             var msg = "@(TempData["Msg"] as string)";
             if (msg !== "") {
                 toastr.success(msg);
             }
         });*@

        $("#accordion").on("hide.bs.collapse show.bs.collapse", e => {
            $(e.target)
                .prev()
                .find("i:last-child")
                .toggleClass("fa-minus fa-plus");
        });
    </script>
}
