﻿@model SarvamCart.Domain.Models.ViewModelQuotaion
@{
    ViewBag.Title = "Quotation Details";
}
@Html.HiddenFor(x => Model.Id);
@Html.HiddenFor(x => Model.UserId);

<section>
    <div class="sub-page-slider">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="sub-page-head">
                        <h1>Your <span>Quotation Detail</span></h1>
                        @*<p>Know about us more</p>*@
                    </div>
                </div>
                <div class="col-6 text-right">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="breadcrumb-item active"> Quotation Detail</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section>

    @{Html.RenderAction("_QuotationPdf", "QuotationHistory",new { id=Model.Id}); }

    <div class="text-center">
        <a href="@Url.Action("DownloadPdf","QuotationHistory",new { id=Model.Id})">Download Pdf</a>
        @*<button id="cmd" type="button" class="pdf-btn"><i class="fa fa-download"></i> Download PDF</button>*@
        @*<button type="button" class="pdf-btn" onclick="window.location.href('@Url.Action("DownloadPdf","QuotationHistory")')"><i class="fa fa-download"></i> Download PDF</button>*@
    </div>
</section>
@*@section scripts{
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

        <script type="text/javascript">
            //convert quotation in pdf format

            $("body").on("click", "#cmd", function () {
                $(".updtPrice").show();
                $(".finalPrice").hide();
                html2canvas($('#content')[0], {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 580,
                                fontsize: 18
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("Quotation.pdf");
                    }
                });
            });
        </script>
    }*@

