﻿@model SarvamCart.Domain.Models.ViewModelQuotaion
@{
    ViewBag.Title = "QuotationHistory";
}
<section>
    <div class="sub-page-slider">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="sub-page-head">
                        <h1>Your <span>Quotation History</span></h1>
                        @*<p>Know about us more</p>*@
                    </div>
                </div>
                <div class="col-6 text-right">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="breadcrumb-item active"> Quotation History</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="order-list">
            <div class="table-responsive">
                <h3>Quotation History<span>(@ViewBag.QuotationsCount)</span></h3>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Total Amount</th>
                        <th>View Details</th>
                    </tr>
                    @if (ViewBag.Quotations != null)
                    {
                        foreach (var quotation in ViewBag.Quotations)
                        {
                            <tr>
                                <td> <p>@quotation.CreatedOn.ToString("dd/MM/yyyy")</p></td>
                                <td>
                                    @if (quotation.StatusOfOrder == 1)
                                    {
                                        <h2>
                                            Pending
                                        </h2>
                                    }
                                    else
                                    {
                                        <h2>
                                            Done
                                        </h2>
                                    }
                                </td>
                                <td>
                                    @if (@quotation.GrantTotal == null)
                                    {
                                        <p>-</p>
                                    }
                                    else
                                    {
                                        <p>@quotation.GrantTotal /-</p>

                                    }
                                </td>
                                <td>
                                    @if (quotation.StatusOfOrder == 1)
                                    {
                                        <p>-</p>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("QuotationDetails", "QuotationHistory", new { id = quotation.Id })">View Detail</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</section>