﻿@model SarvamCart.Domain.Models.ManageProduct

<link href="https://icodefy.com/Tools/iZoom/js/Vendor/fancybox/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" type="text/css" />
<link href="https://icodefy.com/Tools/iZoom/css/zoom.css" rel="stylesheet" type="text/css" />
<link href="~/Assets/css/fancybox.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}
<style>
    .wrapper a {
        display: inline-block !important;
        height: 70px !important;
        width: 70px !important;
        margin: 0px 0px 5px;
        float: none;
    }
</style>>

<section>
    <div class="sub-page-slider">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="sub-page-head">
                        <h1><span>@Model.Title</span></h1>
                        <p>View Products Details</p>
                    </div>
                </div>               
                <div class="col-6 text-right">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="breadcrumb-item"><a href="/Home/Product/@Model.CategoryTypeId">Products</a></li>
                            <li class="breadcrumb-item active">@Model.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="py--100 pt--0">
    <div class="container">
        <div class="row d-none d-md-flex">
            @if (@Model != null)
            {
                <div class="col-lg-auto text-center d-flex justify-content-center">
                    <div class="pdp-image-gallery-block d-flex justify-content-center">

                        <div class="gallery_pdp_container">
                            <div id="gallery_pdp">
                                @for (int i = 0; i < Model.InnerImage.Count; i++)
                                {
                                    var productimage = Model.InnerImage[i];

                                    <a href="#" data-image="../../Assets/UploadedFiles/@productimage.ImageName" data-zoom-image="../../Assets/UploadedFiles/@productimage.ImageName" style="height:50px;width:50px;margin: 0px 0px 5px; display:inline-block;">
                                        <img id="@productimage.Id" src="../../Assets/UploadedFiles/@productimage.ImageName" class="img-fluid" style="height:100%;width:100px;" />
                                    </a>

                                }
                            </div>
                            <!-- Up and down button for vertical carousel -->
                            @*<a href="#" id="ui-carousel-next" style="display: none;"><i class="fa fa-chevron-down"></i></a>
                                <a href="#" id="ui-carousel-prev" style="display: none;"><i class="fa fa-chevron-up"></i></a>*@

                        </div>
                        <div class="gallery-viewer">
                            @foreach (var item in Model.InnerImage.Take(1))
                            {

                                <img id="zoom_10" img-id="@item.Id" src="../../Assets/UploadedFiles/@item.ImageName" data-zoom-image="../../Assets/UploadedFiles/@item.ImageName" href="../../Assets/UploadedFiles/@item.ImageName" class="img-fluid" />
                            }
                        </div>
                    </div>
                    @*<div class="catalog-details-btn d-inline-block">
                            <a href="@Url.Action("Contact", "Home")" class="btn btn-outline-success">GET QUOTATION</a>
                            <a href="@Url.Action("Contact", "Home")" class="btn btn-outline-success">VIEW PRICE LIST</a>
                        </div>*@
                </div>
                <div class="col-12 col-lg-4 col-xl-5 mt-3 mt-lg-0">
                    <div class="product-details">
                        <h2 class="mb-0">@Model.Title</h2>
                        @*<div class="catalog-text">
                                <h3>
                                    <i class="fas fa-rupee-sign"></i>
                                    @Model.Price
                                </h3>

                            </div>*@
                    </div>
                    <div class="catalog-details mt-3">
                        <h5>Product Details:</h5>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>@Model.Title</td>
                                </tr>
                                @*<tr>
                                        <th>Price</th>
                                        <td>@Model.Price</td>
                                    </tr>*@
                                <tr>
                                    <th>Product Code</th>
                                    <td>@Model.ProductCode</td>
                                </tr>
                                <tr>
                                    <th>Category Type</th>
                                    <td>@Model.CategoryType</td>
                                </tr>
                                <tr>
                                    <th>Discriptions</th>
                                    <td>@Model.Description</td>
                                </tr>
                            </tbody>
                        </table>
                        @if (Model.Stock > 50)
                        {
                            <p style="color: green;"><i class="fa fa-circle"></i>  In Stock</p>
                        }
                        else if (Model.Stock < 51 && Model.Stock > 0)
                        {
                            <p style="color: orange;"><i class="fa fa-warning"></i>  Low Stock</p>
                        }
                        else
                        {
                            <p style="color: red;"><i class="fa fa-danger"></i>  Sold Out</p>
                        }
                    </div>
                </div>
            }
            @ViewBag.Message
        </div>
    </div>
</div>

<div class="product-shop">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="~/Assets/images/product-shop.jpg" class="img-fluid" />
            </div>
            <div class="col-md-6 text-center">
                <div class="product-shop-cantent">
                    <h1 class="mb-2">THE GREATEST</h1>
                    <h2 class="mb-0">SALE OF THE YEAR</h2>
                    @*<a href="@Url.Action("Product","Home")" class="btn btn-success">SHOP NOW</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.RelatedProduct.Count() > 0)
{
    <section>
        <div class="container">
            <div class="product-details-slider">
                <h4>Related Products</h4>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        @for (int i = 0; i < Model.RelatedProduct.Count(); i++)
                        {
                            var item = Model.RelatedProduct[i];
                            var image = item.ProductImages.Where(o => o.IsDeleted == false).FirstOrDefault();
                            var d = i;
                            var show = "";
                            if (d == 0)
                            {
                                show = "active";
                            }
                            if (i % 4 == 0)
                            {
                                @Html.Raw("<div class=\"carousel-item " + show + "\"><div class=\"row\">")
                            }
                            <div class="col-3 text-center">
                                <div class="related-products">
                                    <a href="@Url.Action("Index", "ProductDetail", new { id = item.Id })">
                                        <img class="d-block w-100 product-border" src="../../Assets/UploadedFiles/@image.InnerImages" alt="First slide">
                                    </a>
                                </div>
                            </div>
                            if (i % 4 == 3)
                            {
                                @Html.Raw("</div></div>")
                            }
                            else if (Model.RelatedProduct.Count() == i + 1)
                            {
                                @Html.Raw("</div></div>")
                            }
                        }
                    </div>
                    @if (Model.RelatedProduct.Count() > 4)
                    {
                        <div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

    </section>
}

@section scripts{

    <script src="https://icodefy.com/Tools/iZoom/js/Vendor/jquery/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://icodefy.com/Tools/iZoom/js/Vendor/ui-carousel/ui-carousel.js" type="text/javascript"></script>
    <script src="~/Assets/js/fancyapps.js"></script>
    <script src="~/Assets/js/elevateZoom.js"></script>
    <script>
        // JavaScript Document
        function isDevice() {
            return ((/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase())))
        }

        function initZoom(width, height) {
            if (isDevice()) return;

            $.removeData('#zoom_10', 'elevateZoom');
            $('.zoomContainer').remove();
            $('.zoomWindowContainer').remove();
            $("#zoom_10").elevateZoom({
                responsive: true,
                tint: true,
                tintColour: '#E84C3C',
                tintOpacity: 0.5,
                easing: true,
                borderSize: 0,
                lensSize: 100,
                constrainType: "height",
                loadingIcon: "https://icodefy.com/Tools/iZoom/images/loading.GIF",
                containLensZoom: false,
                zoomWindowPosition: 1,
                zoomWindowOffetx: 20,
                zoomWindowWidth: width,
                zoomWindowHeight: height,
                gallery: 'gallery_pdp',
                galleryActiveClass: "active",
                zoomWindowFadeIn: 500,
                zoomWindowFadeOut: 500,
                lensFadeIn: 500,
                lensFadeOut: 500,
                cursor: "https://icodefy.com/Tools/iZoom/images/zoom-out.png",
            });
        }

        $(document).ready(function () {
            /* init vertical carousel if thumb image length greater that 4 */
            if ($("#gallery_pdp a").length > 8) {
                $("#gallery_pdp a").css("margin", "0");
                $("#gallery_pdp").rcarousel({
                    orientation: "vertical",
                    visible: 3,
                    width: 105,
                    height: 70,
                    margin: 5,
                    step: 1,
                    speed: 500,
                });
                $("#ui-carousel-prev").show();
                $("#ui-carousel-next").show();
            }
            /* Init Product zoom */
            initZoom(500, 475);

            $("#zoom_10").fancybox();

            $("#ui-carousel-prev").click(function () {
                initZoom(500, 475);
            });

            $("#ui-carousel-next").click(function () {
                initZoom(500, 475);
            });


        });

        $(window).resize(function () {
            var docWidth = $(document).width();
            if (docWidth > 769) {
                initZoom(500, 475);
            } else {
                $.removeData('#zoom_10', 'elevateZoom');
                $('.zoomContainer').remove();
                $('.zoomWindowContainer').remove();
                if (!isDevice()) {
                    $("#zoom_10").elevateZoom({
                        responsive: true,
                        tint: false,
                        tintColour: '#3c3c3c',
                        tintOpacity: 0.5,
                        easing: true,
                        borderSize: 0,
                        loadingIcon: "https://icodefy.com/Tools/iZoom/images/loading.GIF",
                        zoomWindowPosition: "productInfoContainer",
                        zoomWindowWidth: 330,
                        gallery: 'gallery_pdp',
                        galleryActiveClass: "active",
                        zoomWindowFadeIn: 500,
                        zoomWindowFadeOut: 500,
                        lensFadeIn: 500,
                        lensFadeOut: 500,
                        cursor: "https://icodefy.com/Tools/iZoom/images/zoom-out.png",
                    });
                }
            }
        })
    </script>
}
