﻿@model SarvamCart.Domain.Models.ViewModelQuotaion
@{
    ViewBag.Title = "Cart";
    // ViewBag.cartCounter = Model.CartDetails.Count();
}

@using (Html.BeginForm("CartList", "UserCart", FormMethod.Post, new { id = "CartForm" }))
{
    @Html.HiddenFor(x => Model.Id);
    @Html.HiddenFor(x => Model.UserId);

    <section>
        <div class="sub-page-slider">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="sub-page-head">
                            <h1>Your <span>Cart</span></h1>
                            <p class="mb-0">Get Quotation</p>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ol class="breadcrumb order-page">
                                @*<li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li class="breadcrumb-item active"> Cart</li>*@
                                <li class="breadcrumb-item"><a href="@Url.Action("QuotationHistory", "QuotationHistory")">Your Order History</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            @if (Model.CartDetails.Count() > 0)
            {
                <div class="cart-details-main">
                    <div class="cart-details-box">
                        <div class="cart-heading">
                            <h5 class="mb-0">My Cart (@Model.CartDetails.Count)</h5>
                        </div>
                        @{
                            var count = 0;
                            foreach (var cartDetail in Model.CartDetails)
                            {
                                @Html.HiddenFor(x => cartDetail.Id);
                                <input type="hidden" value="@cartDetail.ProductId" name="CartDetails[@count].ProductId" />
                                <input type="hidden" value="@cartDetail.Id" name="CartDetails[@count].Id" />
                                <input type="hidden" value="@cartDetail.QuotationId" name="CartDetails[@count].QuotationId" />
                                <input type="hidden" value="@cartDetail.ProductImage" name="CartDetails[@count].ProductImage" />
                                <input type="hidden" value="@cartDetail.ProductName" name="CartDetails[@count].ProductName" />
                                <div class="cart-body">
                                    <div class="row align-items-center">
                                        <div class="col-md-auto">
                                            <div class="cart-images">
                                                <span>
                                                    <img src="~/Assets/UploadedFiles/@cartDetail.ProductImage" class="" />
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="cart-img-details">
                                                <h3>@cartDetail.ProductName</h3>
                                                @*<p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Product Quantity</h6>
                                            <div class="product-plus-minus">
                                                <span class="qty-minus">
                                                    <i class="fa fa-minus"></i>
                                                </span>
                                                <input type="number" value="@cartDetail.Quentity" class="qty mx-2" name="CartDetails[@count].Quentity">
                                                <span class="qty-plus">
                                                    <i class="fa fa-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <button type="button" data-id="@cartDetail.Id" class="dltCartDetail">Remove</button>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                </div>
                                count = count + 1;
                            }
                        }
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Get Quotation</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-12 text-center">
                    <span class="no-items-message">@ViewBag.Message</span>  <a href="@Url.Action("Index","Home")">Continue with shopping </a>
                </div>
            }

        </div>

    </section>
}

@section scripts{
    <script type="text/javascript">

         $(function(){
             var msg = "@(TempData["Msg"] as string)";
             if (msg !== "") {
                 toastr.success(msg);
             }
         });

        $(document).ready(function () {
            $(".dltCartDetail").on("click", function () {
                var id = $(this).data('id');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteCartDetail", "UserCart")',
                    data: { cartDetailId: id },
                    success: function (result) {
                        if (result.IsSuccess == true) {
                            location.reload();
                        }
                    }

                });
            });
        });
    </script>
}


