﻿@{
    ViewBag.Title = "Product";
}

<div class="card">
    @*<h6 class="card-header">
        </h6>*@
    <div class="card-header with-elements">
        <span class="card-header-title mr-2 p-0"><b style="font-size:20px">Manage Product</b></span>
        <div class="card-header-elements ml-md-auto">
            <a href="@Url.Action("Manage")" class="btn btn-xs btn-outline-primary btn-add"><i class="fa fa-plus"></i> Add</a>
        </div>
    </div>
    <div class="card-datatable table-responsive product-table">
        <table class="datatables-demo table table-striped table-bordered mt-0 mb-0" id="tblProduct">
            <thead>
                <tr>
                    <th width="65">Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>ProductCode</th>
                    <th>Stock</th>
                    <th>IsActive</th>
                    <th>DisplayOnHome</th>
                    <th style="width:5%;" class="text-center"></th>
                    <th style="width:5%;" class="text-center"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var oTable = $('#tblProduct').dataTable({
            dom: '<"row mx-0 p-3"<"col-6"l><"col-6"f>><"row mx-0"<"col-12 table-responsive mx-0 px-0"t>><"row align-items-center mx-0 px-3 datatable-footer" <"col-md-6"i><"col-md-6"p>>"',
            // "bprocessing": true,
            // "serverSide": true,
            // "bInfo": true,
            // "bPaginate": true,
            // "bLengthChange": false,
            // "bpageLength": 10,

            "ajax": {

                "url": "/Admin/Product/GetProducts",
                "type": "POST",
                "data": { act: 'dl', lt: 'sch' },
                "datatype": "json",
            },
            "order": [],

            "columns": [
                {
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        return '<img src = "/Assets/UploadedFiles/' + full.Image + '" style="width:50px; height:50px;border-radius:50px" />';
                    }
                },
                { data: "Title", "orderable": true },
                { data: "Category", "orderable": true },
                { data: "ProductCode", "orderable": true },
                { data: "Stock", "orderable": true },
                {
                    "orderable": false,
                    "render": function (data, type, full, meta) {

                        if (full.IsActive == true) {
                            return ' <label class="switcher"><input type = "checkbox" class="switcher-input " checked data-id="' + full.Id + '"  ><span class="switcher-indicator"><span class="switcher-yes"></span><span class="switcher-no"></span></span></label >'
                        }
                        else {
                            return ' <label class="switcher"><input type = "checkbox" class="switcher-input " data-id="' + full.Id + '"  ><span class="switcher-indicator"><span class="switcher-yes"></span><span class="switcher-no"></span></span></label >'
                        }
                    }
                },
                //{
                //    "data": "DisplayHome", "orderable": true,
                //    "render": function (data, type, full, meta) {
                //        if (full.DisplayHome == true)
                //            return 'Yes';
                //        else
                //            return 'No';
                //    }
                //},
                {
                    "data": "DisplayHome", "orderable": true,
                    "render": function (data, type, full, meta) {

                        return data ? "Yes" : "No";

                        //if (full.DisplayHome == true)
                        //    return 'Yes';
                        //else
                        //    return 'No';
                    }
                },
                {
                    "orderable": false,
                    "render": function (data, type, full, meta) { return '<a class="btn btn-primary btn-edit" href="/Admin/Product/Manage/' + full.Id + '"><i class="ion ion-md-create"></i></a>'; }
                },
                {
                    "orderable": false,
                    "render": function (data, type, row) {
                        return '<button  type="button" class="btn btn-danger  btn-delete" data-id="' + row.Id + '" ><i class="ion ion-md-trash fa-sm" aria-hidden="true"></i></button>';
                    }
                },
            ]
        });


        $("#tblProduct").on('click', '.btn-delete', function () {

            var data = $(this).data();
            deleteRecord(function (result) {
                if (result) {
                    var url = "@Url.Action("Delete", "Product")";
                    $.post(url, { Id: data.id }, function (response) {
                        if (response.IsSuccess == true) {
                            //oTable.fnDraw(false);
                            location.reload();
                        }
                        else {
                            toastr.error("Product not Deleted");
                        }
                    });
                }
            });
        });



        $("#tblProduct").on('click', '.switcher-input', function () {
            var isactive = $(this).is(":checked ")
            var data = $(this).data();
            var url = '/Admin/Product/UpdateIsActive?Id=' + data.id + '&IsActive=' + isactive;

            $.ajax({
                url: url,
                method: "POST",
                data: data,
                dataType: 'json',
                success: function (result) {
                    if (result.IsSuccess == true) {
                        location.reload();
                    }
                    else {
                        toastr.error("not updated!");
                    }
                }
            });

        });

    </script>
}
