﻿@model SarvamCart.Domain.Models.ManageProduct

<style>
    .img {
        width: 78px;
        height: 69px;
    }

    .img-inner {
        width: 100px;
        height: 100px;
    }

    .form-control {
        height: calc(1.85rem + 2px);
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 8px 14px;
        cursor: pointer;
        font-weight: 700;
        border-radius: 3px;
    }

    .preview i {
        font-size: 24px;
    }

    .file-details {
        color: #4d4d4c;
        margin: 15px 0;
    }

    .custom-file-upload.blue-light {
        color: #48A0DC;
        border: 1px solid #48A0DC;
    }

    .dropzone {
        display: block;
        width: 100%;
        margin: 0 auto 25px auto;
        padding: 25px;
        color: #97A1A8;
        background: #F9FBFE;
        border: 2px dashed #C8CBCE;
        text-align: center;
        -webkit-transition: box-shadow 0.3s, border-color 0.3s;
        -moz-transition: box-shadow 0.3s, border-color 0.3s;
        transition: box-shadow 0.3s, border-color 0.3s;
    }

        .dropzone .dropzone-input-icon {
            font-size: 48px;
            margin-top: -10px;
            transition: all 0.3s ease;
        }

    img.img-dropzone {
        width: 55px;
        height: 55px;
    }

    i.del-images {
        margin-left: 35px;
        color: red;
    }

    i.i-brochure {
        position: absolute;
        top: 39px;
    }

    .readymade-attribute input[type="checkbox"] {
        margin: 12px;
    }
</style>

@{
    ViewBag.Title = "Manage";
}

@using (Html.BeginForm("Manage", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @id = "Manage-Form" }))
{

    @Html.HiddenFor(model => model.Id)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card">
        <div class="card border-0">
            <div class="card-header with-elements">
                <span class="card-header-title mr-2 p-0">
                    <b style="font-size : 20px">Manage Product</b>
                </span>
                <div class="card-header-elements ml-md-auto">
                    <a href="@Url.Action("Index")" class="btn btn-xs btn-outline-primary datatable-header-btn btn-back"><i class="fa fa-chevron-left mr-1"></i> Back</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Category Type</label>
                        @*@Html.DropDownListFor(model => model.CategoryTypeId, (IEnumerable<SelectListItem>)ViewBag.CategoryTypes as SelectList, new { @class = "form-control" })*@
                        @Html.DropDownListFor(model => model.CategoryTypeId, new SelectList(Model.CategoryTypes, "Text", "Value"), new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3 ">
                        @Html.LabelFor(model => model.Title, "Product Name", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.ProductCode, "Product Code", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })

                    </div>
                    @*<div class="form-group col-md-2">
                            @Html.LabelFor(model => model.Price, "Price", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @type = "number", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>*@
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Stock, "Stock", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control", @type = "number", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Discripction </label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "3", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-3">
                        <label class="mb-0">
                            @Html.CheckBoxFor(m => m.IsActive)
                            IsActive
                        </label>
                    </div>

                    <div class="form-group col-md-3">

                        @{object attributes = null;
                            if (Model.IsActive == true)
                            {
                                attributes = new { @enable = true };
                            }
                            else
                            {
                                attributes = new { @disabled = true };
                            }
                        }

                        <label class="mb-0">
                            @Html.CheckBoxFor(m => m.DisplayHome, attributes)
                            Display On Home
                        </label>

                    </div>
                </div>
                @*<div class="form-row">
                    <div class="form-group col-md-3 mb-3">
                        <label>Product Image </label>*@
                @*<input type="file" class="form-control" style=" height: 34px !important;padding-left:5px;" id="productImage" accept="image/*"
                    //  name="Image" data-source="/Images/Categories/@Model.Image" />*@
                @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control mb-3 file-choose-input", type = "file", @accept = ".jpg,.jpeg,.png" }, id = "productImage" })*@
                @*</div> @if (Model.Id > 0)
                    {*@
                @*<div class="form-group col-6 offset-1">
                        <img src="../../../Assets/UploadedFiles/@Model.Image" alt="@Model.Image" onChange="validate(this.value)" class="img-responsive" id="setimage" style="height:200px ;width:200px;" />
                    </div>*@
                @*@Html.HiddenFor(model => model.Image)*@
                @*}
                    </div>*@

                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>

                <div class="card card-default upload-img">
                    <div class="card-header">
                        <h4 class="card-title mb-0 mt-3">Upload Product Inner Images</h4>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="dropzone dz-clickable mb-0">
                                <div class="dz-message">
                                    <div class="dropzone-input-icon"><i class="fa fa-cloud-upload"></i></div>
                                    Drag & Drop files here.
                                    <br>
                                    <label class="custom-file-upload blue-light">
                                        <i class="fa fa-cloud-upload"></i> Browse Files
                                    </label>
                                </div>
                            </div>
                            <div id="previews" class="col-12 mx-0 row px-0">
                                <div id="template-preview" class="col-auto">
                                    <div class="file-details">
                                        <div class="dz-preview dz-file-preview d-flex align-items-center" id="dz-preview-template">
                                            <div class="dz-details">
                                                <span class="preview"><img data-dz-thumbnail class="img-dropzone" /></span>
                                            </div>
                                            <div class="dz-details" style="padding-left:13px;">
                                                <div class="dz-filename"><span data-dz-name></span></div>
                                                @*<div class="dz-size" data-dz-size></div>*@
                                            </div>
                                            <button data-dz-remove class="delete"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.InnerImage.Count() > 0)
                {
                    <div class="card-default">
                        <div class="card-header mt-3">
                            <h6 class="card-title mb-2">Product Inner Images</h6>
                        </div>
                        <div class="card-body p-0">
                            <div class="row">
                                @{ int count = 0;
                                    foreach (var productimage in Model.InnerImage)
                                    {
                                        <div class="col-auto text-center px-0 mx-2" style="border:1px solid #ccc;">
                                            <div style="height:100px;width:100px;">
                                                <img src="~/Assets/UploadedFiles/@productimage.ImageName" value="@productimage.ProductId" class="img-responsive w-100 h-100 img-preview" />
                                            </div>
                                            @Html.HiddenFor(x => x.InnerImage[count].Id)
                                            @Html.HiddenFor(x => x.InnerImage[count].ImageName)
                                            @Html.HiddenFor(x => x.InnerImage[count].ProductId)
                                            <div style="background:#f7f7f7;padding:3px 0;text-align:center;border-top:1px solid #ccc">
                                                <i class="fa fa-trash del-images" data-id="@productimage.Id"></i>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary btn-save">Save</button>
        </div>
    </div>
}

@section scripts{
    <link href="~/Assets/Admin/vendor/libs/toastr/toastr.css" rel="stylesheet" />
    <script src="~/Assets/Admin/vendor/libs/toastr/toastr.js"></script>
    <link href="~/Assets/Admin/vendor/libs/dropzone/dropzone.css" rel="stylesheet" />
    <script src="~/Assets/Admin/vendor/libs/dropzone/dropzone.js"></script>

    <script type="text/javascript">



        $("#IsActive").on("change", function () {
            if (this.checked) // if changed state is "CHECKED"
            {
                $('#DisplayHome').prop('disabled', false)
            }
            else {
                $('#DisplayHome').prop('checked', false);
                $('#DisplayHome').prop('disabled', true);
            }
        })

        var previewNode = document.querySelector("#template-preview");
        previewNode.id == "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);
        Dropzone.autoDiscover = false;
        $(".dropzone").dropzone({
            url: "/Product/Manage",
            autoProcessQueue: false,
            uploadMultiple: true,
            /*maxFilesize: 100,*/
            previewTemplate: previewTemplate,
            previewsContainer: "#previews",
            acceptedFiles: '.png, .jpg, .jpeg',
        });


        $(document).ready(function () {
            $('.del-images').on('click', function (e) {

            var imageId = $(this).data('id');
            $.ajax({
            type: "POST",
                url: "/Product/DeleteImage",
            data: "{imageid: '" + imageId + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
            location.reload();
            }
            });
            e.preventDefault();
            });

            $("#Manage-Form").on("submit", function (e) {

                e.preventDefault();
                var id = $("#Id").val();
                if ((id == 0 && $('.dropzone')[0].dropzone.getAcceptedFiles().length == 0) ) {
                    toastr.error("Upload atleast one image");
                }
                else if (($('.dropzone')[0].dropzone.getAcceptedFiles().length != 0) || ($('.img-preview').length != 0))
                {
                      $("#InnerImage").val("");
                            var formData = new FormData($("#Manage-Form")[0])
                            if ($('.dropzone')[0].dropzone.getAcceptedFiles().length > 0) {

                                for (var i = 0; i < $('.dropzone')[0].dropzone.getAcceptedFiles().length; i++) {
                                    formData.append('ProductImagespath', $('.dropzone')[0].dropzone.getAcceptedFiles()[i]);
                                }

                                if ($(this).find('.input-validation-error').length == 0) {
                                    $(this).find(':submit').attr('disabled', 'disabled');
                                    $(".btn-save").text("Processing");
                                }
                    }
                    $.ajax({
                            Url: '@Url.Action("Manage", "Product")',
                            data: formData,
                            type: 'POST',
                            enctype: 'multipart/form-data',
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                        if (response.result == "Redirect") {
                                            window.location = response.url;
                                        }
                                        else {
                                            toastr.error("Cant't uploaded!");
                                        }
                                    },

                            error: function (error) {
                            console.log(error);
                            }
                            });
                }
                else {
                    toastr.error("Upload atleast one image");
                }
                      });
                        });
                function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#setimage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#productImage").change(function () {
            readURL(this);
        });
        $(".del-images").on("click", function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            deleteRecord(function (result) {

                if (result) {

                    $.ajax({
                        type: "POST",
                        url: '/Admin/Product/DeleteImage/' + id,
                        success: function (result) {
                            if (result.Success == true) {
                                location.reload();
                            }
                            else {
                                toastrError("Not deleted. !!");
                            }
                        }
                    });
                }
            });
        });
    </script>
}


